<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.SiriHeadlessService</string>
	<key>com.apple.announced.client</key>
	<true/>
	<key>com.apple.announced.clientid</key>
	<string>com.apple.SiriHeadlessService</string>
	<key>com.apple.assistant.analytics</key>
	<true/>
	<key>com.apple.assistant.audio-session-assertion</key>
	<true/>
	<key>com.apple.assistant.client</key>
	<true/>
	<key>com.apple.coreaudio.allow-amr-decode</key>
	<true/>
	<key>com.apple.coreaudio.allow-speex-codec</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.homekit.private-spi-access</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.usage_oracle</key>
	<true/>
	<key>com.apple.private.coordination.alarms</key>
	<true/>
	<key>com.apple.private.coordination.timers</key>
	<true/>
	<key>com.apple.private.homehubd</key>
	<array>
		<string>endpoint-read</string>
	</array>
	<key>com.apple.private.mobiletimerd</key>
	<true/>
	<key>com.apple.private.necp.match</key>
	<true/>
	<key>com.apple.private.security.storage.Notes</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceWillow</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.MobileTimer.alarmserver</string>
		<string>com.apple.MobileTimer.timerserver</string>
		<string>com.apple.coordination.timers</string>
		<string>com.apple.coordination.alarms</string>
	</array>
	<key>com.apple.siri.analytics.assistant</key>
	<true/>
	<key>com.apple.siri.client_lite</key>
	<true/>
	<key>com.apple.voiceservices.tts.customvoice</key>
	<true/>
	<key>com.apple.voicetrigger.voicetriggerservice</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
</dict>
</plist>
